/* css/style.css */

/* gradient font */
body {
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh; /* Να πιάνει όλο το ύψος της οθόνης */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* login */
.login-card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
}

/* Header and Title */
.login-header {
    text-align: center;
    margin-bottom: 30px;
}
.login-header i {
    font-size: 50px;
    color: #2980b9;
    margin-bottom: 10px;
}

/* Key for role authentication entering dashboard */
.hidden {
    display: none !important;
}

